<div class="metric-switch-container">
    <!-- History Button -->
    <div class="history-button-container">
        <button 
            class="history-btn"
            (click)="toggleHistory()"
            type="button">
            {{ showHistory() ? 'Back' : 'History' }}
        </button>
    </div>
    
    <div class="metric-switch">
        <button 
            class="switch-btn" 
            [class.active]="isMetric()"
            (click)="setMetric(true)"
            type="button">
            °C
        </button>
        <button 
            class="switch-btn" 
            [class.active]="!isMetric()"
            (click)="setMetric(false)"
            type="button">
            °F
        </button>
    </div>
</div>

<!-- Conditional Rendering -->
<div class="card" [ngClass]="{ 'history-card': showHistory() }">
    <div class="card-header">
        <h2 *ngIf="!showHistory(); else historyTitle">{{ weatherData()?.name }}</h2>
        <ng-template #historyTitle>
            Search History
        </ng-template>
    </div>
    <div class="card-body-container">
        <ng-container *ngIf="!showHistory(); else historyContent">
            <img *ngIf="getWeatherIcon()" [src]="getWeatherIcon()" alt="Weather Icon" class="weather-icon">
            <p class="details"><strong>Temperature:</strong> {{ getTemperature() }}{{ isMetric() ? '°C' : '°F' }}</p>
            <p class="details"><strong>Humidity:</strong> {{ weatherData()?.main?.humidity }}%</p>
            <p class="details"><strong>Wind Speed:</strong> {{ getWindSpeed() }} {{ isMetric() ? 'km/h' : 'mph' }}</p>
            <p class="details"><strong>Sunrise Time:</strong> {{ getSunriseTime() }}</p>
            <p class="details"><strong>Sunset Time:</strong> {{ getSunSetTime() }}</p>
        </ng-container>
        <ng-template #historyContent>
            <ul class="history-list">
                <li *ngFor="let city of searchHistory()" (click)="selectFromHistory(city)" class="history-item">
                    {{ city }}
                </li>
            </ul>
            <button type="button" (click)="clearHistory()" class="clear-history-btn">Clear History</button>
        </ng-template>
    </div>
</div>